h1 {
  text-align: center;
  color: #555; /* Изменен цвет заголовков на более темно-серый */
}
.slider {

  width: 450px; /* Увеличенная ширина */
  height: 600px; /* Увеличенная высота */
  margin: auto; /* Центрирование слайдера */
}
.slider img {
  width: 100%;
  height: 100%;
  display: none;
}
.slider img.active {
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Увеличен внешний отступ сверху до 20px */
}
.button {
  background-color: #007bff; /* Изменен цвет кнопок на синий */
  border: none;
  color: white;
  padding: 12px 24px; /* Увеличены внутренние отступы */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; /* Увеличен размер шрифта */
  margin: 10px;
  cursor: pointer;
  border-radius: 5px; /* Добавлены скругленные углы */
}
